source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Cocona
nuget Argu 
nuget LanguageExt.Core
nuget FluentAssertions
nuget MoreLINQ
nuget Open.ChannelExtensions
nuget System.Text.Json
nuget Bogus
nuget Swashbuckle.AspNetCore
nuget System.Linq.Async
nuget AWSSDK.DynamoDBv2
nuget AWSSDK.Extensions.NETCore.Setup
nuget Microsoft.Extensions.Http
nuget Microsoft.AspNetCore.Http.Features
nuget Moq

nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch

nuget FluentValidation
nuget FluentValidation.AspNetCore
nuget AutoFixture
nuget FluentAssertions
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget Microsoft.NET.Test.Sdk
nuget Testcontainers 
nuget Alba
nuget coverlet.collector